*, 
html, 
body {
    /* border: 1px solid red; */
    /* CUSTOM COLORS */
    --bud-green: rgb(112, 174, 110);
    --charcoal: rgb(49, 49, 49);
    --charcoal-2: #36454F;
    --dark-liver: rgb(72, 60, 70);
    --inchworm: rgb(190, 238, 98);
    --ming: rgb(60, 110, 113);
    --orange-crayola: rgb(244, 116, 59);
    --orange-burnt: rgb(179, 82, 44);
    --orange-burnt-2: #833C20;
    --index-card-bg: #f5e5cd;
    --index-card-bg-2: #a59276;
    --shadow-color: rgba(42, 42, 42, 0.6);
    --shadow-b-color: rgba(21, 21, 21, 0.8);
    --index-card-shadow-5: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
    --index-card-shadow-6: drop-shadow(4px 4px 2px rgba(95, 95, 95, 0.5));
    /*  END CUSTOM COLORS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    background-color: var(--charcoal-2);
    display: flex;
    justify-content: center;
}

.header {
    display: flex;    
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    margin: 30px 0 15px 0;
}

.header.title {
    flex-flow: column;
}
.header h2 {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
h1.title {
    font-family: "Akshar", Arial, Helvetica, sans-serif;
    font-size: 5em;
    letter-spacing: 0.10ch;
    font-weight: 800;
    text-align: center;
}
h2 {
    font-family: "Akshar", Arial, Helvetica, sans-serif;
    /* font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif; */
    font-size: 1.75em;
}

h2#income {
    padding: 10px;
    margin: 10px;
}

h3 {
    font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
    margin: 5px 0;
}
h4 {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    size: 0.5em;
    color: whitesmoke;
    font-weight: 200;
    /* letter-spacing: 0.15ch; */
}

.api {
    background-color: lightblue;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    min-height: 1500px;
}

.income {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
    margin-top: 10px;
}

input {
    background-color: whitesmoke;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    display: flex;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 2em;
    padding: 0px 12px 0px 25px;
    width: 175px;
}

input:focus {
    /* border: 3px dashed black; */
    background-color: beige;
}

.envelopes {
    background-color: var(--orange-crayola);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 15px;
    width: 70%;
    margin: 30px 0 10px 0;
    padding: 15px;
}

.envelope-selection-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.envelopes-header {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.sample-envelope {
    background-color: var(--index-card-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    border-radius: 15px;
    width: 150px;
    height: 75px;
    margin: 15px;
    filter: var(--index-card-shadow-6);
    border: 5px solid var(--charcoal-2);
}

.sample-envelope:hover{
    filter: var(--index-card-shadow-5);
    cursor: pointer;
}

.sample-envelope:active{
    background-color: whitesmoke;
    filter: none;
}

.operations {
    display: none;
}
.operations.active {
    background-color: var(--bud-green);
    display: flex;
    flex-flow: column;
    border-radius: 15px;
    width: 70%;
    /* height: 150px; */
    margin: 10px;       
    padding: 15px;
}

.operations h2 {
    font-style: italic;
    font-size: 2em;
}

#ops-header-category {
    padding-left: 5px;
}

#ops-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    height: fit-content;
    padding: 15px;
}

.ops-balance-view {
    background-color: var(--index-card-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 5px 15px;
}

.live-balance {
    margin: 5px 10px;
    font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

.creation {
    background-color: var(--dark-liver);
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 15px;
    width: 70%;
    margin: 10px 0 30px 0;   
    padding: 0 15px 15px 15px;
}

h2#create {
    color: whitesmoke;
}
h2#ops-balance {
    font-style: normal;
    font-size: 1.5em;
}
.create-ops {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#create-header {
    /* margin: 0; */
}

#ops-header.header {
    display: flex;;
    margin: 10px 0;
    padding: 0px 20px;
}

.ops-body {
    background-color: lightgreen;
    display: flex;
    border-radius: 15px;
    height: 300px;
    margin: 20px;
}

ul.actions {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
}

li.action {
    font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
    border-radius: 15px;
    font-size: 1.5em;
    font-weight: 700;
    padding: 5px 20px;
    border-bottom: 3px solid var(--charcoal);
}

li.action:hover {
    cursor: pointer;
    background-color: var(--inchworm);
}

li.action:active, li.action.active {
    background-color: whitesmoke;
    border-bottom: none;
    border-top: 3px solid var(--charcoal);
}

.ops-left {
    display: flex;
    flex-flow: column;
    /* justify-content: space-between; */
    height: 100%;
    padding: 15px 30px;
    /* margin: 15px; */
}
#ops-left-title {
    margin-bottom: 15px;
    margin-top: 0;
}
.ops-right {
    background-color: var(--index-card-bg);
    height: 100%;
    padding: 15px;
    width: 100%;
    border-radius: 0 15px 15px 0;
}
.action-state {
    display: none;
}
.action-state.active {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
}
#credit{
    /* background-color: #833C20; */
}
#debit{
    /* background-color: coral; */
}
#transfer{
    /* background-color: #36454F; */
}
#delete{
    /* background-color: aquamarine; */
}

.input-area {
    background-color: rgb(162, 186, 210);
    display: flex;
    flex-flow: column;
    padding: 20px;
    margin: 15px 30px;
    border-radius: 15px;
    width: fit-content;
}
.to-from {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}
.to-from-select {
    display: flex;
    width: fit-content%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px 15px;
}

.input-area input {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    letter-spacing: 0.15ch;
    padding: 5px 10px;
}


.action-state p {
    font-family: "Roboto Slab", Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    padding: 20px;
    text-align: center;
    font-size: 1.25em;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.symbol {
    font-family: ;
    font-size: 3em;
    font-family: "Akshar", Arial, Helvetica, sans-serif;
}

/* DROP DOWN */
.dropbtn {
    background-color: var(--ming);
    color: whitesmoke;
    padding: 5px 15px;
    margin-top: 10px;
    font-size: 1.25em;
    font-weight: 400;
    border: 3px solid black;
    /* min-width: 200px; */
    font-family: "Roboto Condensed", sans-serif;
}

.dropdown-content {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.25em;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 15px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
}

.dropdown-content a:hover {
    background-color: #ddd;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: whitesmoke;
    color: black;
}
/* DROP DOWN */

button {
    background-color: var(--bud-green);
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-weight: 800;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    font-size: 1.25em;
    border: 3px solid black;
}

button.dropbtn {
    margin: 0;
}

button#delete-submit {
    background-color: rgb(187, 33, 33);
    color: whitesmoke;
}

button:hover {
    cursor: pointer;
    background-color: var(--inchworm);
}

button#delete-submit:hover {
    background-color: rgb(255, 70, 70);
}

button:active {
    background-color: whitesmoke;
}

button#delete-submit:active {
    background-color: black;
}

/* MEDIA QUERIES */

/* 1550px WIDE */
@media screen and (max-width: 1550px)  {
    .dropbtn {
        font-size: 1em;
        font-weight: 400;
        padding: 10px 15px;
        width: 100%;
    }
}
/* END 1550px WIDE*/

/* 1450px WIDE */
@media screen and (max-width: 1450px)  {
    .api {
        width: 100%;
    }
}
/* END 1450px WIDE */


/* 1250px WIDE */
@media screen and (max-width: 1250px)  {


    button {
        font-size: 1em;
    }

    .operations.active {
        padding: 10px;
    }

    .operations h2 {
        font-size: 1.5em;
    }

    .to-from-select {
        /* width: 100%; */
        margin: 0;
    }
    .symbol {
        font-size: 2em;
    }
}
/* END 1250px WIDE*/

/* 750px WIDE */
@media screen and (max-width: 750px)  {

    .envelopes {
        width: 80%;
    }

    .sample-envelope {
        width: 120px;
        height: 60px;
        font-size: 1.25em;

    }

    .create-ops {
        flex-flow: column;
    }

    .creation {
        width: 80%;
    }

    .ops-body {
        flex-flow: column;
        margin-bottom: 0;
        margin-top: 0;
    }

    .operations.active {
        height: 550px;
        width: 80%;
        padding-bottom: 20px;
    }
    .ops-right {
        border-radius: 0px 0px 15px 15px;
    }

    li.action {
        width: fit-content;
        font-size: 1em;
        margin: 0 5px;
    }
    ul.actions {
        flex-flow: row;
        height: 45%;
        justify-content: space-between;
    }

    .ops-left {
        height: unset;
        padding: 10px;
        margin: 10px;
    }
        
}
/* END 750px WIDE*/

/* 620px WIDE */
@media screen and (max-width: 620px)  {
    li.action {
        font-size: 0.8em;
    }
}
/* END 620px WIDE */

/* 565px WIDE */
@media screen and (max-width: 565px)  {
    li.action {
        text-align: center;
        font-size: 0.6em;
        width: 60px;
        padding: 5px;
    }
    .operations.active {
        height: 510px;
    }
    .operations h2 {
        font-size: 1em;
    }
    .live-balance {
        padding: 0;
    }
    .ops-left {
        padding: 0;
    }
}
/* END 565px WIDE */


/* BREAK at 1430px */
/* BREAK at 910px */